/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* miscellaneous */
html {							/* For the whole page */
	background-color: white;
	font-family: verdana;
}

.link {							/* All links to go to the View Toys page */
	color: red;
}

p, .credits ul{					/* Default size for all paragraphs */
	font-size: 14px;			
}

.gridContainer {				/* Creating a grid template with aside*/
	display:grid;
	grid-template-rows:auto;
	grid-template-columns:auto;
	grid-template-areas:
	"header"
	"nav"
	"main"
	"aside"
	"footer"
}

.gridContainer1 {				/* Creating a grid template without aside */			
	display:grid;
	grid-template-rows:auto;
	grid-template-columns:auto;
	grid-template-areas:
	"header"
	"nav"
	"main"
	"footer"
}

/*-------------------------------------------------------*/

/* Styling header */
header {
	grid-area:header;
	background-image: url("mario2.jpg");
}
.logo {							/* For the logo */
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

/*-------------------------------------------------------*/

/* Styling Navigation */
nav {
	grid-area:nav;
}
.navbar {						/* Adding a black background color to the navigation bar */
	background-color: #333;
	overflow: hidden;
}
.navbar a {						/* Styling the links inside the navigation bar */
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
	font-size: 16px;
}
.navbar a:hover {				/* Changing the color of links on hover */
	background-color: #ddd;
	color: black;
}
.navbar a.active {				/* Adding a color to the active/current link */
	background-color: #3B97EE;
	color: white;
}

/*-------------------------------------------------------*/

/* Styling Main */
main {
	grid-area:main;
}
main section h2 {				/* Styling the heading of main body */
	margin-top: 0%;
	margin-bottom: 0%;
	background-color: red;
	color: white;
	padding: 14px 16px;
	font-size: 16px;
}
.aboutimg {						/* Styling image on homepage */
	float: right;
	max-height: 90px;
	max-width: 90px;
}
main section p {				/* Styling the content of main body */
	margin-top: none;
	padding-left: 16px;
	padding-right: 16px;
}

/*-------------------------------------------------------*/

/* Styling aside (Latest news) */
aside {
	grid-area:aside;
}
aside h2 {						/* Styling the heading of aside*/
	margin:0;
	background-color:  #3B97EE;
	color: white;	
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}
aside h3 {						/* Styling news titles */
	font-size: 15px;
}
aside p {
	margin-left: 0px;
	margin-right: 0px;
}
aside ul {						/* Styling news content */
	min-width:250px;
	background-color: #333;
	color: #f2f2f2;
	margin-top:0%;
	text-align:left;
	list-style-type: none;
	padding: 3px 12px;
	margin: 0; 					/* Remove margins */
}
aside ul li {					/* Styling news content(list) */
	margin-top:0%;
}	
.shop {							/* Styling the images of the articles  */
	width:100%;
}

/*-------------------------------------------------------*/

/* Styling 'view more toys' button */
.viewtoyswrapper {				/* container for the button */
	background-color: red;
	text-align: center;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: white;
}

.viewtoyswrapper a:hover {		/* styling hover */
	background-color: white;
	color: black;
	border-color: black;
}

.viewtoyswrapper a {			/* styling the hyperlink */
	background-color: red;
	color: white;
	border: 2px solid;
	border-color: white;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 100px;
}

/*-------------------------------------------------------*/

/* Styling Footer*/
footer {
	grid-area:footer;
	background-color: gray;
	color: white;
	padding-left: 10px;
	padding-right: 9px;
}
footer h4{
	margin: 11px 0px 4px 0px;
	padding: 0px;
	font-size: 15px;
}
footer p {
	margin-top: 8px;
	font-size:14px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Styling ViewToys page*/
.NTL_toys {						/* Styling toy wrapper */
	border-style: outset;
	margin: 6px 0px;
	
}
.toyName {						/* Styling toy name */
	background-color: none;
	color: black;
	font-weight: bold;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 8px 8px;
	font-size: 15px;
	border-bottom: 2px ridge;
}
.bolds {						/* Making certain texts bold */
	font-weight: bold;
}
.description {					/* Styling toy description */
	font-size: 14px;
	padding: 8px 8px 8px 8px;
	background-color: none;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}
.catMan {						/* Styling toy manufacturer and category */
	font-size: 14px;
	padding: 0px 8px 8px 8px;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}
.toyPrice {						/* Styling toy price */
	font-weight: bold;
	color: blue;
	display: inline-block;
	box-sizing: border-box;
	text-align: left;
	width: 100%;
	border-top: 2px ridge;
	padding: 5px 8px;
	font-size: 14px;
}
.mariowalk {					/* Resizing viewtoys footer image */
	float: right;
	max-height: 90px;
	max-width: 90px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Styling Admin page */

/* Styling labels */
label {
	display: inline-block;
	padding: 5px;
}

/* Styling inputs */
input[type=text], input[type=number], textarea, select {
	margin: 3px;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;		/* to fix inputs from overlapping the fieldsets */
	resize: vertical;			/* only allows for vertical resizing of the textarea */
	font-size: 16px;
	font-family: verdana;
}

/* Styling Fieldsets */
fieldset {
	border-style: dashed;
	border-width: 2px;
	border-color: black;
	padding: 5px 15px 10px 10px;
	margin: 10px 5px 10px;
}

/* Styling Add Toy button */
input[type=submit] {
	background-color: red;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 15px;
	margin: 0px 5px 10px;
	border-radius: 100px;		/* to make the button rounded */
	cursor: pointer;
	float: left;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Styling Credits page */
.credits ul li a{
	word-break: break-all;			
}
.credits ul li {
	margin-right: 14px;
}
.credits h3, .credits h4{
	font-size: 15px;
	margin-left: 14px;
}
.credits h5 {
	font-size: 14px;
	margin-left: 14px;
	margin-right: 14px;
}
.marioblock {
	float: right;
	max-height: 100px;
	max-width: 100px;
	margin: 10px 10px 0px 0px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* <--359px--> SMALL PHONE SCREEN */
@media screen and (max-width: 359px) {		
	p, footer p, .credits ul {				/* font size for paragraphs */
		font-size: 13px;
	}
	
	.navbar a, main section h2, aside h2 {	/* font size for headings */
		font-size: 15px;
	}
	
	aside h3, section h3, footer h4, .credits h3{	/* font size for subheadings */
		font-size: 14px;
	}
	
	.marioblock {							/* Resizing credits image */
	max-height: 50px;
	max-width: 50px;
	}
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* <--410px--> SMALL PHONE SCREEN */
@media screen and (max-width: 410px) {	
	/* View Toys page */
	.toyName {								/* font size for toy title */
		font-size: 14px;
	}
	
	.description, .catMan , .toyPrice {		/* font size for other toy details */
		font-size: 13px;
	}
	
	.marioblock {							/* Resizing credits image */
	max-height: 60px;
	max-width: 60px;
	}
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* <--768px--> TABLET SCREEN */
@media screen and (min-width: 768px) {	

	p, footer p, .credits ul {				/* font size for paragraphs */
		font-size: 15px;			
	}

	.logo {									/* Setting max width for the logo*/
		max-width:50%;
	}

	.navbar a, main section h2, aside h2 {	/* font size for headings and nav*/
		font-size: 17px;
	}

	aside h3, .credits h3, .credits h4, footer h4 {		/* font size for article titles */
		font-size: 16px;
	}
	
	.credits h5 {							/* font size for subheadings */
		font-size: 15px;
	}

	aside ul {								/* Styling news content */
		display: inline-flex;				/* Applying inline flex */
		flex-wrap: wrap;
		gap: 15px;							/* Adjusting the gap b/w the articles */
		padding-left: 15px;
	}

	aside li {								/* Setting max width for the list */
		max-width: 48.7%;			
	}

	fieldset {								/* Styling fieldsets on admin page */
		float: left;
		width: 48.6%;
		display: block;						/* Displaying it as a block */
		box-sizing: border-box;	
	}

	/* View Toys page */
	.toyName {								/* font size for toy title */
		font-size: 16px;
	}
	
	.description, .catMan , .toyPrice {		/* font size for other toy details */
		font-size: 15px;
	}
	
	.mariowalk {							/* Resizing viewtoys footer image */
	float: right;
	margin-right: 10px;
	max-height: 120px;
	max-width: 120px;
	}
	
	.marioblock {							/* Resizing credits image */
	max-height: 130px;
	max-width: 130px;
	}
	
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* <--1024px--> LAPTOP SCREEN */
@media screen and (min-width: 1024px) {	

	p, .credits ul, footer p {				/* font size for paragraphs */
		font-size: 15px;			
	}

	.navbar a, main section h2, aside h2 {	/* font size for headings and nav */
		font-size: 18px;
	}

	aside ul {								/* Styling news content */
		min-width:35%;
		padding-left: 25px;
	}
		
	.credits h3, .credits h4, footer h4 {	/* Font size for subheadings on credits page */
		font-size: 17px;
	}
	
	.credits h5 {							/* font size for subheadings */
		font-size: 16px;
	}

	/* View Toys page */
	.toyName {								/* font size for toy title */
		font-size: 17px;
	}
	
	.description, .catMan , .toyPrice {		/* font size for other toy details */
		font-size: 15px;
	}
	
	.marioblock {							/* Resizing credits image */
	max-height: 150px;
	max-width: 150px;
	}

}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* <--1200px--> LAPTOP SCREEN */
@media screen and (min-width: 1200px) {	

	/* Styling aside (Latest news) */
	aside li {
		max-width: 32.3%;
	}
	aside ul {						
		gap: 16px;
		padding-left: 25px;
	}

}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

